<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    日期型属性注入方式-->
    <bean id="userManager" class="org.example.context.UserManager" >
        <property name="dateValue" value="2022-02-25"/>
    </bean>
<!--    方法一:    自定义属性编辑器-->
<!--    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer" >-->
<!--        <property name="customEditors" >-->
<!--            <map >-->
<!--                <entry key="java.util.Date" value="org.example.context.support.DatePropertyEditor">-->
<!--                </entry>-->
<!--            </map>-->
<!--        </property>-->
<!--    </bean>-->

<!--   方法二:    使用Spring属性编辑器-->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer" >
        <property name="propertyEditorRegistrars" >
            <list>
                <bean class="org.example.context.support.DatePropertyEditorRegistrar" />
            </list>
        </property>
    </bean>

</beans>