<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    属性解析 -->
    <bean id="message" class="org.example.context.HelloMessage" >
        <property name="msg" value="${message.msg}"/>
    </bean>

    <bean id="mesHandler" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>message.property</value>
            </list>
        </property>
    </bean>


    <bean id="sensitiveAttributeFilter" class="org.example.context.SensitiveAttributeFilter">
        <property name="sensitiveAttribute">
            <set>
                <value>idCard</value>
                <value>age</value>
            </set>
        </property>
    </bean>

    <bean id="teacher" class="org.example.context.Teacher">
        <property name="age" value="26" />
        <property name="idCard" value="110234199401233456" />
        <property name="name" value="lusi" />
    </bean>



</beans>